
<!--::::Pie de Pagina::::::-->
<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Servicios</h3>
                  <ul>
                      <li>Remesas</li>
                      <li>Puntos de Venta</li>
                      <li>Mesa de Cambio</li>

                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>Enlaces</h3>
                  <ul>
                      <li><a href="https://www.pagochinchin.com/" target="_blank" rel="noopener noreferrer">Chinchin</a></li>
                      <li><a href="https://email.pagochinchin.com/" target="_blank" rel="noopener noreferrer">Zimbra</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Soluciones Financieras Chinchin</h3>
                  <p>En CHINCHIN te brindamos toda la ayuda
                    que necesitas para alcanzar tus metas.</p>
              </div>
              <div class="col item social">
                <a href="https://www.instagram.com/accounts/login/?next=/PagoChinchin/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/pngegg (2).png" alt=""></a>
                <a href="https://www.facebook.com/PagoChinchin" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/pngegg.png" alt=""></a>
                <a href="https://twitter.com/PagoChinchin" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/pngegg (5).png" alt=""></a>

              </div>
          </div>
          <p class="copyright">Company Lv © 2022</p>
      </div>
      <script src="https://kit.fontawesome.com/29c05b9093.js" crossorigin="anonymous"></script>
  </footer>
</div>

