
<!--Aqui vamos a colocar el formulario de recuperar Password-->

<img class="wave" src="../../../assets/img/wave.png"> <!--Imagen de la onda verde-->
<div class="container">
  <div class="img">
    <img src="../../../assets/img/bg.svg"> <!--Imagen del hombre sentado-->
  </div>
  <div class="login-content">
       <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
      </div>
  <div>
  <div *ngIf="!loading" > <!--Aqui es cuando sea FALSA la variable-->
        <!--Bajamos la ruta hasta llegar a la carpeta-->
        <img class="logo" src="../../../assets/img/sonrisa.jpg.png" alt="login">
        <h1>Recuperar</h1> <br>
        <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="correo"  placeholder="name@example.com">
                <label>Email</label>
                 <!--Validacion-->
                 <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                  El <strong>correo</strong> es requerido
                </span>
                <!--Segunda Validacion-->
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                  El <strong>correo</strong> es invalido
                </span>
              </div>
              <div class="d-grid gap-2 mt-3">
                <!--Desabilitamos el boton hasta que el usuario de clip-->
                <button class="btn btn-dark btn-lg" [disabled]="recuperarUsuario.invalid" type="submit">Recuperar</button>
              </div> <br>
              <a style="text-align:center ;" routerLink="/login">Volver</a>
        </form>
    </div>
    <!--Agregamos el spinner y se va a mostrar cuando la variable LOADING sea Verdadera-->
    <app-spinner *ngIf="loading"></app-spinner>
</div>

