


<!--Aqui vamos a colocar el formulario de verificar correo-->


<div class="envoltura">
    <div class="body"> <!--Aqui es cuando sea FALSA la variable-->
        <!--Bajamos la ruta hasta llegar a la carpeta-->
        <img class="logo" src="../../../assets/img/pngegg (1).png" alt="login">
        <h6>Le enviamos un correo de verificacion</h6>
        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-dark" type="button" routerLink="/login">Volver</button>
          </div>
    </div>
  
</div>


